[submodule "NanoVNA/NanoVNA"]
	path = NanoVNA/NanoVNA
	url = https://github.com/ttrftech/NanoVNA.git
[submodule "NanoVNA/NanoVNA-App"]
	path = NanoVNA/NanoVNA-App
	url = https://github.com/OneOfEleven/NanoVNA-App.git
[submodule "NanoVNA/NanoVNA-D(iSlord)"]
	path = NanoVNA/NanoVNA-D(iSlord)
	url = https://github.com/DiSlord/NanoVNA-D.git
[submodule "NanoVNA/NanoVNA-H(guen)"]
	path = NanoVNA/NanoVNA-H(guen)
	url = https://github.com/hugen79/NanoVNA-H.git
[submodule "NanoVNA/nanovna-saver"]
	path = NanoVNA/nanovna-saver
	url = https://github.com/NanoVNA-Saver/nanovna-saver.git
